/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    background: url("./assets/img/site-background.png") fixed;
}

a {
    text-decoration: none;
}

.hd-desk {
    @media(min-width: 769px) {
        display: none !important;
    }
}

.hd-tab {
    @media(min-width: 426px) and (max-width: 768px) {
        display: none !important;
    }
}

.hd-mob {
    @media(max-width: 426px){
        display: none !important;
    }
}